* {
  box-sizing: border-box;
}

.container {
  width: 80vw;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-7th {
  flex-basis: calc(100% / 7);
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.add-entry {
  padding-top: 6rem;
}

.add-entry button {
  padding: 0 1rem;
}
