* {
  box-sizing: border-box;
}

.container {
  width: 80vw;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-7th {
  flex-basis: calc(100% / 7);
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.add-entry {
  padding-top: 6rem;
}

.add-entry button {
  padding: 0 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(14, 13, 13, 0.753);
}

.hidden {
  display: none;
}
